// color : 
$bgcolor: rgb(51,51,51);
$txtcolor: rgb(255,229,220);
$shadowcolor: rgb(255,127,80);

// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Orbitron&display=swap');
$txthour: 'Orbitron', sans-serif;
$txtdate: 'Nunito', sans-serif;