// color : 
$bgcolor: rgb(51,51,51);
$txt-color: rgb(50,253,116);
$shadow-color: rgb(253,50,187);

// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Orbitron&display=swap');
$txthour: 'Orbitron', sans-serif;
$txtdate: 'Nunito', sans-serif;