@import './utils/reset';
@import './utils/variable';

body {
    background: $bgcolor;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    color: $txt-color;
}

.hours {
    font: {
        family: $txthour;
        size: 8rem
    }
    text-shadow: 3px 3px $shadow-color;
}

.date {
    font: {
        family: $txtdate;
        size: 2rem;
    }
    box-shadow: rgba($shadow-color, 0.6) 0px 3px, rgba($shadow-color, 0.4) 0px 6px, rgba($shadow-color, 0.2) 0px 9px
}
